/* Css for gallery images */

.account-img {
    width: 150px;
    border-radius: 50%;
}

.image-card {
    opacity: .95;
    transition: opacity .2s, transform .2s;
}

.image-card:hover {
    opacity: 1;
    transform: scale(1.1);
    z-index: 3;
}

.media-img {
    height: 50px;
    width: 50px;
}

.position_bottom {
    position: inherit;
    bottom: 0;
}

.focus-btn:focus {
    box-shadow: none !important;
}

.user_act {
    color: red;
}

.comment_box {
    max-height: 100px;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .position_bottom {
        position: absolute;
    }

    .comment_box {
        max-height: 420px;
    }
}
