* {
    outline: none;
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover, a:focus {
    color: darken(#17a2b8, 15%);
}

a:active {
    color: darken(#17a2b8, 30%);
}

body {
    background-color: #f8f8f8;
    color: #333;
    counter-reset: page;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.content {
    padding: 70px 0 160px;
}

.row {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.wspace {
    white-space: normal;
}

#message {
    visibility: hidden;
    min-width: 250px;
    margin: auto;
    background-color: rgb(106, 200, 111);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1051;
    top: 100px;
    font-size: 19px;
}

#message.alert {
    visibility: visible;
    background-color: rgb(255, 52, 52);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

#message.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
