* {
    outline: none;
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover, a:focus {
    color: darken(#17a2b8, 15%);
}

a:active {
    color: darken(#17a2b8, 30%);
}

body {
    background-color: #f8f8f8;
    color: #333;
    counter-reset: page;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.content {
    padding: 70px 0 160px;
}

.row {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.wspace {
    white-space: normal;
}
