/* Css for camera */

#photo_list {
    overflow-y: auto;
    height: 42vh;
    border: 1px solid #333;
    padding: 10px 0;
}

#take_photo img {
    height: 48px;
}

.filter_container {
    height: 125px;
    overflow-y: scroll;
}

.delete_img {
    position: relative;
}

.delete_img a {
    font-size: 1.5em;
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    overflow: hidden;
}

.delete_img a:hover {
    cursor: pointer;
    font-size: 1.8em;
}

.label-filter {
    display: block;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.label-filter:hover {
    cursor: pointer;
}

.video_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

:checked + .label-filter{
    background-color: #17a3b86b;
    color: white;
}

@media screen and (min-width: 992px) {
    .filter_container {
        height: auto;
        overflow: hidden;
    }
}
