.content {
    padding: 70px 0 160px;
}

.navbar-toggler:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.row {
    margin: 0;
}

.image {
    height: 100px;
    width: 150px;
}

.media-img {
    height: 50px;
    width: 50px;
}

.account-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#video {
    width: 100%;
    background-color: #666;
}

#camera_wrapper {
    margin: 0px auto;
    margin-bottom: -9px;
}

#photo_list {
    overflow-y: auto;
    max-height: 250px;
    border: 3px solid #333;
    padding: 10px 0;
}

#display_list {
    display: none;
}

img {
    max-width: 100%;
}

#take_photo img {
    height: 48px;
}

#filters {
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
}

#filters option {
    padding: 15px 10px;
    text-align: center;
}

.filter_container {
    height: 150px;
}

@media screen and (min-width: 992px) {
    .filter_container {
        height: auto;
    }
}
