* {
    outline: none;
}

.content {
    padding: 70px 0 160px;
}

.navbar-toggler:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.row {
    margin: 0;
}

.image {
    height: 100px;
    width: 150px;
}

.media-img {
    height: 50px;
    width: 50px;
}

.account-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#video {
    width: 100%;
}

#photo_list {
    overflow-y: auto;
    height: 42vh;
    border: 1px solid #333;
    padding: 10px 0;
}

#display_list {
    display: none;
}

img {
    max-width: 100%;
}

#take_photo img {
    height: 48px;
}

.label-filter {
    display: block;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.label-filter:hover {
    cursor: pointer;
}

.filter_container {
    height: 125px;
    overflow-y: scroll;
}

@media screen and (min-width: 992px) {
    .filter_container {
        height: auto;
        overflow: hidden;
    }
}


.video_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.delete_img {
    position: relative;
}
.delete_img a {
    font-size: 1.5em;
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    overflow: hidden;
}

.delete_img a:hover {
    cursor: pointer;
    font-size: 1.8em;
}

.wspace {
    white-space: normal;
}

:checked + .label-filter{
    background-color: #17a3b86b;
    color: white;
}

.my_like {
    color: red;
}

.position_bottom {
    position: inherit;
    bottom: 0;
}


.comment_box {
    max-height: 100px;
    overflow-y: scroll;
}

@media screen and (min-width: 768px) {
    .position_bottom {
        position: absolute;
    }

    .comment_box {
        max-height: 420px;
    }
}
